<cml:boundingbox label="Bounding Box" name="annotation" url-header="image_url" default-width="100" default-height="100" min-width="10" min-height="10" max-width="1000" max-height="1000" threshold="0.85" allow-no-boxes="true" validates="required" image-url="{{}}" gold="true"></cml:boundingbox>

<cml:checkbox name="no_pedestrians" label="Click here if the box does not have a person in it" default="false" aggregation="agg"></cml:checkbox>

<cml:radios label="Is this person riding a bike or motorcycle?" validates="required" name="byciclist" intructions="Only select if they are riding it, if they are holding or pushing the bike it is a no." only-if="no_pedestrians:unchecked" aggregation="agg">
  <cml:radio label="Yes" value="yes"></cml:radio>
  <cml:radio label="No" value="no"></cml:radio>
</cml:radios>