<h1>Overview</h1>

<p>In this task you will use a box tool to draw a tight rectangle around each vehicle in the images.</p>
<hr>

<h1>Steps</h1>

<ol>
	<li><strong>Look</strong> over the provided image
		<br>
		<br>
	</li>
	<li><strong>Determine</strong> if the picture has any vehicles to mark in it

		<ul>
			<li>If a vehicle is unclear or less than 10x10 pixels do not mark it</li>
			<li>If there are no vehicles to box, you must click 'Nothing to box'
				<br>
				<br>
			</li>
		</ul>
	</li>
	<li><strong>Mark&nbsp;</strong>the vehicles in the image with the tool provided

		<ul>
			<li>Put a VERY tight rectangle per vehicle (exclude bicycles and motorcycles)</li>
		</ul>
	</li>
</ol>
<hr>

<h1>How to Use the Image Bounding Box Tool</h1>

<h2>How to add boxes:</h2>

<table>
	<tbody>
		<tr>
			<td>

				<ul>
					<li>Use the [+] button in the top left corner of the tool to create a box</li>
				</ul>
			</td>
			<td>
				<br><img src="https://s3.amazonaws.com/cf-make-sandbox/images%2F1494920758376-%2B.png" class="fr-dii">
				<br>
			</td>
		</tr>
		<tr>
			<td>

				<ul>
					<li>You can then Grab the box that was created and drag/resize it in the appropriate position</li>
				</ul>
			</td>
			<td>
				<br><img src="https://s3.amazonaws.com/cf-make-sandbox/images%2F1494920383916-create+a+new+box.gif" class="fr-dii">
				<br>
			</td>
		</tr>
	</tbody>
</table>

<h2>How to Remove a Box:</h2>

<table>
	<tbody>
		<tr>
			<td>

				<ul>
					<li>To Remove a Box, click the box you want to delete (the box should be blue when selected) and click the Trash Can Icon in the Tool Tray
						<br>
						<br>
					</li>
					<li>You can also select a box and<strong>&nbsp;press the 'Delete' key on your keyboard</strong> to delete</li>
				</ul>
			</td>
			<td>
				<br>
				<br><img src="https://s3.amazonaws.com/cf-make-sandbox/images%2F1494923846597-Screenshot+2017-05-16+01.35.14.png" class="fr-dii"></td>
		</tr>
	</tbody>
</table>

<h2>How to mark 'Nothing to Box'</h2>

<table>
	<tbody>
		<tr>
			<td>
				<br>
				<br>

				<ul>
					<li>If there is nothing to box, you should click 'Nothing to Box'</li>
					<li>If you try to submit a unit without a box and without clicking 'Nothing to Box' you will encounter an error.</li>
				</ul>
			</td>
			<td>
				<br><img src="https://s3.amazonaws.com/cf-make-sandbox/images%2F1494923881749-Nothing+to+Box.png" class="fr-dii"></td>
		</tr>
	</tbody>
</table>

<h2>Zoom:&nbsp;</h2>

<p><img class="fr-dib" src="https://s3.amazonaws.com/crowdflower-make-cloud/images%2F1494978378334-zoom.gif" style="width: 723px;"></p>
<hr>

<h1>Rules and Tips</h1>

<p><strong>Relevant Definitions (Click on the Object for Google images)</strong></p>

<ul>
	<li><a href="http://www.google.com/images?q=Vehicle" target="_blank">Vehicle</a></li>
</ul>

<p>
	<br><strong>Do This</strong></p>

<ul>
	<li>Make sure to use only one rectangle for each object
		<br>
		<br>
	</li>
	<li>You need to mark the object even if it is partially occluded
		<br>
		<br>
	</li>
	<li>You need to mark one rectangle per object even when there could exist overlapping between them
		<br>
		<br>
	</li>
	<li>Make sure to draw rectangles VERY tight in size respect to the objects</li>
</ul>
<hr>

<h1>Examples</h1>

<table class="cf-alternate-rows">
	<tbody>
		<tr>
			<td>
				<br><strong>Description</strong>
				<br>
				<br>
				<br>
			</td>
			<td>
				<br><strong>Example Images</strong>
				<br>
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td>

				<ul>
					<li>Example Description?</li>
				</ul>
			</td>
			<td>Example Image?
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td>
				<br>
				<br>

				<ul>
					<li>Draw a VERY tight rectangle around each vehicle</li>
				</ul>
			</td>
			<td><img src="https://s3.amazonaws.com/crowdflower-make-cloud/images%2F1487361264632-Screen+Shot+2017-02-17+at+8.50.43+PM.png" class="fr-dii">
				<br>
			</td>
		</tr>
		<tr>
			<td>
				<br>
				<br>

				<ul>
					<li>Do not draw rectangles around very small vehicles that are difficult to see with the human eye</li>
				</ul>
			</td>
			<td>
				<br>
			</td>
		</tr>
		<tr>
			<td>

				<ul>
					<li>Draw a single rectangle around each vehicle...do not group vehicles inside a rectangle</li>
				</ul>
			</td>
			<td><img src="https://s3.amazonaws.com/crowdflower-make-cloud/images%2F1487361392857-Screen+Shot+2017-02-17+at+8.53.23+PM.png" class="fr-dii">
				<br>
			</td>
		</tr>
		<tr>
			<td>

				<ul>
					<li>Draw a tight rectangles over the vehicles except bicycles and motorcycles</li>
				</ul>
			</td>
			<td>
				<br><img src="https://s3.amazonaws.com/crowdflower-make-cloud/images%2F1487281818997-2.png" class="fr-dii">
				<br>
			</td>
		</tr>
		<tr>
			<td>

				<ul>
					<li>Draw tight rectangles even with the objects are small, or partially occluded</li>
				</ul>
			</td>
			<td>
				<br><img src="https://s3.amazonaws.com/crowdflower-make-cloud/images%2F1487281831657-3.png" class="fr-dii">
				<br>
			</td>
		</tr>
	</tbody>
</table>
<hr>

<h1>Test Question Review</h1>

<p>When you get a test question wrong, you will see an image like the following with red and green boxes. The <strong>red boxes</strong> are the boxes you made that are <strong>incorrect</strong> and the <strong>green boxes</strong> are the <strong>correct annotations</strong>. <strong>Please review</strong> these carefully since no written reasons will be provided for annotated images.</p>

<p><img src="https://s3.amazonaws.com/crowdflower-make-cloud/images%2F1485298078255-kitties.png" class="fr-dii"></p>
