.row
  .panel.panel-primary
    .panel-heading
      | Training

    .panel-body
      = simple_form_for :jobs, url: jobs_path, method: :post do |f|
        .form-inputs
          .form-group
            = f.input :use_case, collection: use_cases, selected: 1
            = f.input :base_line_model, collection: base_line_models, selected: 1
            = f.input :bucket, input_html: { value: default_bucket }
            = f.input :path, placeholder: 'cf_job_data'

        .form-actions
            = f.button :submit, 'Train'
