.b-layout {
  padding-top: 170px;

  &.thin {
    padding-top: 74px;
  }

  &.admin {
    padding-top: 110px;
  }

  &.flower-ai.thin {
    padding-top: 86px;
  }

  &__container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
}
