<!DOCTYPE html>
<html>
  <head>
    <title>CfAlp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="b-layout thin <%= controller.controller_name %>">

    <div class="b-layout__container">
      <% flash.each do |message_type, message| %>
        <% if message_type=='error' %><div class="alert alert-danger"><%= message %></div><% end %>
        <% if message_type=='success' %><div class="alert alert-success"><%= message %></div><% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
